@import './base';


/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
   display: block;
   font-size: 0;
   margin: 0 rem(-15);
}


/* -----------------------------------
 *
 * Column
 *
 * -------------------------------- */

.column {
   display: inline-block;
   width: 25%;
   padding: 0 rem(15);
   font-size: rem(15);
   box-sizing: border-box;
}