@import './base';


/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {
   position: relative;
   display: block;
   width: 100%;
   border: rem(1) solid $colour-grey-light;
   padding: rem(15);
   border-radius: rem(3);
   box-sizing: border-box;
}


/* -----------------------------------
 *
 * Logo
 *
 * -------------------------------- */

.logo {
   display: block;
   text-align: center;
   margin: 0 0 rem(15);
}


/* -----------------------------------
 *
 * Image
 *
 * -------------------------------- */

.image {
   display: inline-block;
   max-width: 100%;
}