

/* -----------------------------------
 *
 * Wrapper
 *
 * -------------------------------- */

.wrapper {

   display: block;
   opacity: .8;
   transition: opacity 1s;

   &.active {
      opacity: 1;
   }

}