

/* -----------------------------------
 *
 * Primitives
 *
 * -------------------------------- */

$colour-white: #FFF;
$colour-black: #000;
$colour-shadow: #D9DADB;


/* -----------------------------------
 *
 * Greys
 *
 * -------------------------------- */

$colour-grey-light: #E9E9E9;
$colour-grey-medium: #A9AAA9;