

/* -----------------------------------
 *
 * Fonts
 *
 * -------------------------------- */

$font-stack: sans-serif;
$font-default: 'Source Sans Pro', 'Open Sans', $font-stack;


/* -----------------------------------
 *
 * Sizes
 *
 * -------------------------------- */

$font-size-calc: 16;
$font-size-base: $font-size-calc * 1px;